@page "/book"
@using Library.Shared;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (Books == null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var book in Books.ToList())
    {
        <p>@book.BookName</p>
    }
}


@code {
    static readonly HttpClient _httpClient = new HttpClient();
    static string LibraryApiAddress { get; set; }
    public IEnumerable<Book> Books { get; set; }

    static async Task<IEnumerable<Book>> GetBooks()
    {
        return await JsonSerializer.DeserializeAsync<IEnumerable<Book>>
        (await _httpClient.GetStreamAsync($"{LibraryApiAddress}/api/books"), new JsonSerializerOptions()
        {
            PropertyNameCaseInsensitive = true
        });
    }

    protected async override Task OnInitializedAsync()
    {
        LibraryApiAddress = Configuration["Library.Api.Address"];
        Books = await GetBooks();
    }
}