@page "/books"

@if (Books == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
        @foreach (var book in Books)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@book.BookName</h5>
                        <p class="card-text">@book.Author</p>
                        <p class="card-text">@book.Category</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>

}